@using MES_WORK
@{
    ViewData["Title"] = "Home Page";
    Language language = new Language();
}

<div class="text-center">
    <h1 class="display-4">@language.GetName("Welcome")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
